<h2>All Employees</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Position</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employees; track employee.id) {
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.position }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <button type="button" (click)="updateEmployee(employee.id)">
          Update
        </button>
        <button type="button" (click)="deleteEmployee(employee.id)">
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
